<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>sand.optimizerpanel.com</MSDeployServiceURL>
    <DeployIisAppPath>OptimizerSand</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>coastalavt\cas</UserName>
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="OptimizerDB" Order="1" Enabled="False">
          <Destination Path="Data Source=10.177.209.22,14441;Initial Catalog=OptimizerWest;Persist Security Info=True;User ID=cas;Password=n621kf!12" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CoastalPortal.Models.OptimizerContext, CoastalPortal" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="OptimizerTestDB" Order="2" Enabled="False">
          <Destination Path="Data Source=10.176.218.120\DEVL,14332;Initial Catalog=OptimizerWest;Persist Security Info=True;User ID=cas;Password=n621kf!12" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=10.176.218.120\DEVL,14332;Initial Catalog=OptimizerWest;Persist Security Info=True;User ID=cas;Password=n621kf!12" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\OptimizerTestDB_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=10.176.218.120\DEVL,14332;Initial Catalog=OptimizerWest;Persist Security Info=True;User ID=cas;Password=n621kf!12" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="PortalTestDB" Order="3" Enabled="False">
          <Destination Path="Data Source=10.176.218.120\DEVL,14332;Initial Catalog=SuperPortalV31uat;Persist Security Info=True;User ID=cas;Password=n621kf!12" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=10.176.218.120\DEVL,14332;Initial Catalog=SuperPortalV31uat;Persist Security Info=True;User ID=cas;Password=n621kf!12" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\PortalTestDB_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=10.176.218.120\DEVL,14332;Initial Catalog=SuperPortalV31uat;Persist Security Info=True;User ID=cas;Password=n621kf!12" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="PortalDB" Order="4" Enabled="False">
          <Destination Path="Data Source=10.177.209.23,14442;Initial Catalog=SuperPortalV31;Persist Security Info=True;User ID=cas;Password=n621kf!12" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=10.177.209.23,14442;Initial Catalog=SuperPortalV31uat;Persist Security Info=True;User ID=cas;Password=n621kf!12" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\PortalDB_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=10.177.209.23,14442;Initial Catalog=SuperPortalV31uat;Persist Security Info=True;User ID=cas;Password=n621kf!12" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="PortalTestDB-Web.config Connection String">
      <ParameterValue>Data Source=10.176.218.120\DEVL,14332;Initial Catalog=SuperPortalV31uat;Persist Security Info=True;User ID=cas;Password=n621kf!12</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="PortalDB-Web.config Connection String">
      <ParameterValue>Data Source=10.177.209.23,14442;Initial Catalog=SuperPortalV31;Persist Security Info=True;User ID=cas;Password=n621kf!12</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="OptimizerTestDB-Web.config Connection String">
      <ParameterValue>Data Source=10.176.218.120\DEVL,14332;Initial Catalog=OptimizerWest;Persist Security Info=True;User ID=cas;Password=n621kf!12</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="OptimizerDB-Web.config Connection String">
      <ParameterValue>Data Source=10.177.209.22,14441;Initial Catalog=OptimizerWest;Persist Security Info=True;User ID=cas;Password=n621kf!12</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="PortalTestDB-Web.config Connection String">
      <ParameterValue>Data Source=10.176.218.120\DEVL,14332;Initial Catalog=SuperPortalV31uat;Persist Security Info=True;User ID=cas;Password=n621kf!12</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="PortalDB-Web.config Connection String">
      <ParameterValue>Data Source=10.177.209.23,14442;Initial Catalog=SuperPortalV31uat;Persist Security Info=True;User ID=cas;Password=n621kf!12</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="OptimizerDB-Web.config Connection String">
      <ParameterValue>Data Source=10.177.209.22,14441;Initial Catalog=OptimizerWest;Persist Security Info=True;User ID=cas;Password=n621kf!12</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="PortalDB-Web.config Connection String">
      <ParameterValue>Data Source=10.177.209.23,14442;Initial Catalog=SuperPortalV31uat;Persist Security Info=True;User ID=cas;Password=n621kf!12</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="OptimizerDB-Web.config Connection String">
      <ParameterValue>Data Source=10.177.209.22,14441;Initial Catalog=OptimizerWest;Persist Security Info=True;User ID=cas;Password=n621kf!12</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="OptimizerTestDB-Web.config Connection String">
      <ParameterValue>Data Source=10.176.218.120\DEVL,14332;Initial Catalog=OptimizerWest;Persist Security Info=True;User ID=cas;Password=n621kf!12</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="PortalTestDB-Web.config Connection String">
      <ParameterValue>Data Source=10.176.218.120\DEVL,14332;Initial Catalog=SuperPortalV31uat;Persist Security Info=True;User ID=cas;Password=n621kf!12</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="PortalDB-Web.config Connection String">
      <ParameterValue>Data Source=10.177.209.23,14442;Initial Catalog=SuperPortalV31uat;Persist Security Info=True;User ID=cas;Password=n621kf!12</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="OptimizerDB-Web.config Connection String">
      <ParameterValue>Data Source=10.177.209.22,14441;Initial Catalog=OptimizerWest;Persist Security Info=True;User ID=cas;Password=n621kf!12</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>